{
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "extensions": [
                    ".vue",
                    ".js"
                ]
            }
        ]
    ]
}